html {
    height: 90%;
}
body {
    height: 100%;
}

@font-face {
    font-family: OpenSansSemiBold;
    src: url(OpenSans-Semibold.ttf);
    font-weight:400;
}

@font-face {
    font-family: OpenSans;
    src: url(OpenSans-Regular.ttf);
    font-weight:400;
}

body {
  background-color : #6B6B6B;
  color: #D9D4C7;
  font-family: OpenSans;
}

#wrapper {
  margin : 0 auto;
  padding : 20px;
  width : 90%;
  height: 100%;
}

h1 {
  margin : 0 0 20px 0;
  color : #010101;
  text-align : center;
  text-transform : uppercase;
  font-family: OpenSansSemiBold;
  line-height : 1em;
}

#messages {
  overflow : auto;
  height : 72%;
}

.msg {
  padding : 4px 0;
  font-size: 18px;
}

.msg .name {
  /*font-style : italic;*/
  color: #333;
}

.msg.old {
  color : #C7C7C7;
}

.nic {
  margin : 10px 0;
}

#message {
  float : left;
  margin : 0 auto;
  width : 100%;
  height: 10%;
  font-size: 18px;
}

.highlighted {
    color: orange;
}
.highlighted .name {
    color: red;
}

#wrapper,
#name,
#message,
#send {
  border : 1px solid #B5B5B5;
  background-color : #ededed;
  color : #555;
}

#send {
  display : inline-block;
  padding : 26px 20px;
  text-decoration : none;
  font-size : 15px;
}

#send:hover {
  background-color : #dfdfdf;
}

